<!DOCTYPE html>
<html
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Detalhes Do Aluno</title>
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="materialize-v1.0.0/materialize/css/materialize.min.css"  media="screen,projection"/>

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="container">

	<div class="section container">
		<h2>Detalhes Aluno</h2>
		<p>Nome: <span th:text="${aluno.nome}"></span>
		<p>Telefone: <span th:text="${aluno.telefone}"></span></p>
		<p>Email: <span th:text="${aluno.email}"></span></p>
		<p>Nº Matricula: <span th:text="${aluno.matricula}"></span></p>
		<h2>Endereço</h2>
		<p>Rua: <span th:text="${aluno.endereco.rua}"></span></p>
		<p>Bairro: <span th:text="${aluno.endereco.bairro}"></span></p>
		<p>Cep: <span th:text="${aluno.cep}"></span></p>
	</div>
	
	<script type="text/javascript" src="materialize-v1.0.0/materialize/js/materialize.min.js"></script>
	</body>
</html>