<!DOCTYPE html>
<html
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Detalhes Do Aluno</title>
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="materialize-v1.0.0/materialize/css/materialize.min.css"  media="screen,projection"/>

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
	<body>
	
	<p><div><span th:text="${detalhesAluno.matricula}"</span><p>
	<p><div><span th:text="${detalhesAluno.nome}"</span><p>
	<p><div><span th:text="${detalhesAluno.telefone}"</span><p>
	<p><div><span th:text="${detalhesAluno.endereço}"</span><p>
	
	<script type="text/javascript" src="materialize-v1.0.0/materialize/js/materialize.min.js"></script>
	</body>
</html>